<div class="col-md-12 col-lg-4 gx-3 mb-3">
  <li class="link-card">
    <a href="plugin/{{id}}" target="_blank" class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="manual" data-popover-content='#popover-{{domId}}-content'>
      <h5 class="plugin-title pb-2">
        <span class="fa-regular fa-window-maximize"></span>
          {{ name }}
      </h5>
      <div class="pb-2">
      {{#_recommended}}
        <span class="plugin-recommended me-2 badge text-black">Recommended</span>
      {{/_recommended}}
      {{#categories}}
        <span class="plugin-category me-2 badge bg-secondary">{{.}}</span>
      {{/categories}}
      </div>

      <p class="plugin-description">
        {{ description }}
      </p>
      
      <p class="plugin-link">
        See More <span class="plugin-link-arrow">&rarr;</span>
      </p>
    </a>
  </li>
</div>